#bannerSection{
    margin-bottom: 0; 
    display: flex;
    justify-content: center;
    align-items: center;

}

#mainButton{
    background-color: #FF2996;
    border: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition-delay: 0s;
}

#mainButton:hover {
    box-shadow: 0px 8px 25px 0px #FF2996;
}

.secondaryButton{
    background-color: #FFB9B9; 
    border: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition-delay: 0s;
}

#secondaryButton{
    background-color: #FFB9B9; 
    border: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition-delay: 0s;
}

#secondaryButton:hover {
    box-shadow: 0px 8px 25px 0px #FFB9B9;
}

#card{
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition-delay: 0s;
}

#card:hover{
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
}

.card{
    transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.card:hover{
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
    transform: translateY(-5px);
}

.card:hover #cardTitle {
    color: #FF2996;
}


#cardType{
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition-delay: 0s;
    width: 18rem; text-decoration: none; border: none;
}

#cardType:hover{
    color: #FF2996;
}

.brandsNames{
    color: black;
    text-decoration: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition-delay: 0s;
}

.brandsNames:hover{
    color: #FF2996;
    
}

#contactInformation:hover{
    color: #FF2996;
}