#bannerSection{
    margin-bottom: 0; 
    display: flex;
    justify-content: center;
    align-items: center;

}

#mainButton{
    background-color: #FF2996;
    border: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition-delay: 0s;
}

#mainButton:hover {
    box-shadow: 0px 8px 25px 0px #FF2996;
}

#secondaryButton{
    background-color: #FFB9B9; 
    border: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition-delay: 0s;
}

#secondaryButton:hover {
    box-shadow: 0px 8px 25px 0px #FFB9B9;
}

#card{
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition-delay: 0s;
}

#card:hover{
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
}

#cardType{
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition-delay: 0s;
}

#cardType:hover{
    color: #FF2996;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
}

#regularButton{
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition-delay: 0s;
}

#regularButton:hover{
    color: #FF2996;
}
